*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: rgb(247, 189, 192);
    color: rgba(87, 92, 95, 0.959);
    height: 4rem;
    line-height: 4rem
}
.choice{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    /* opacity 50%; */
    cursor: pointer;
    background-color: black;
    
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover ;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 6rem;
    font-size: 2rem;
    
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: rgb(137, 74, 197);
    font-size: 20px;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}